extends admin_layout

block content
  .container-fluid
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
        .panel
          .panel-body
            .container-fluid
              #error.hidden.alert.alert-danger(role='alert')
              
            h3 Statistics

            p Number of User Logins (day, month, year)
            p Page (day, month, year)
            p Server Stats

            .masonry
              .card
                .card-header Most Popular Pages
                .card-block
                  ol
                    for page in popularPages
                      li #[b #{page['page']}: ] #{page['totalViews']}
              .card
                .card-header Latest Viewed Pages
                .card-block
                  ol
                    for page in latestPages
                      li #[b #{page['page']}]
              .card
                .card-header Active Users
                .card-block
                  ul
                    for user in activeUsers
                      li #[b #{user['name']}]
              .card
                .card-header Latest Changes
                .card-block
                  ol
                    for change in latestChanges
                      li Sequence #[b #{change['id']}] #{change['change']}.
              .card
                .card-header Uptime Information
                .card-block
                  p= stats
              .card
                .card-header Server Usage
                .card-block
                  //p=JSON.stringify(serverStats)
                  for item in serverStats
                    p= item