extends admin_layout

block content
  .container-fluid
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
        .panel
          .panel-body
            .container-fluid
              #error.hidden.alert.alert-danger(role='alert')
            br
            h3 Statistics
            br
            .masonry
              .panel.panel-default
                .panel-heading Most Popular Pages
                .panel-body
                  ol
                    for page in popularPages
                      li #[b #{page['page']}: ] #{page['totalViews']}
              .panel.panel-default
                .panel-heading Latest Viewed Pages
                .panel-body
                  ol
                    for page in latestPages
                      li #[b #{page['page']}]
              .panel.panel-default
                .panel-heading Active Users (15 mins)
                .panel-body
                  ul
                    for user in activeUsers
                      li #[b #{user['name']}]
              .panel.panel-default
                .panel-heading Latest Changes
                .panel-body
                  ol
                    for change in latestChanges
                      li Sequence #[b #{change['id']}] #{change['change']}.
              .panel.panel-default
                .panel-heading Uptime Information
                .panel-body
                  p!= stats
              .panel.panel-default
                .panel-heading Server Usage
                .panel-body
                  //p=JSON.stringify(serverStats)
                  for item in serverStats
                    p.serverItem!= item
              .panel.panel-default
                .panel-heading
                  div(style="float:left")
                    span#weektitle Week Top Views
                    span#daytitle(style='display:none') Day Top Views
                    span#hourtitle(style='display:none') Hour Top Views
                  div(style="float:right")
                    a(style='cursor: pointer')#weekselect Week
                    span= " | "
                    a(style='cursor: pointer')#dayselect Day
                    span= " | "
                    a(style='cursor: pointer')#hourselect Hour
                  div(style="clear: both")
                .panel-body
                  div#weektop
                    ol
                      for page in popularWeekPages
                        li #[b #{page[0]}: ] #{page[1]}
                  div#daytop(style='display:none')
                    ol
                      for page in popularDayPages
                        li #[b #{page[0]}: ] #{page[1]}
                  div#hourtop(style='display:none')
                    ol
                      for page in popularHourPages
                        li #[b #{page[0]}: ] #{page[1]}