extends layout

// html to markdown javascript library
// github.com/domchristie/to-markdown

block content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
          .panel
            .panel-body
              .container-fluid
                #error.hidden.alert.alert-danger(role='alert')
              h3="Editting A" + id
              p
                b Note: Fields left blank will not be displayed to the user.
              p
                b Available Syntax:
              ul
                li [Text](http://link.com) - Hyperlink
                li *Text* - Bold
                li **Text** - Italic
                li _Username_ - Link to User Page
                li= "<code>*Text*</code> - No Markdown on Text"
              for value, index in data
                if value != "<no data>"
                  if index == "data"
                    b!="<sup>*</sup>" + toTitleCase(index) + ": "
                    br
                    textarea.form-control(rows=3, style="resize:auto", id=index)
                      =value.split(",").join(", ")
                    br
                  else
                    if typeof value == "object"
                      if required.indexOf(index) != -1
                        b!="<sup>*</sup>" + toTitleCase(index) + ": "
                      else
                        b=toTitleCase(index) + ": "
                      br
                      textarea.form-control(rows=5, style="resize:auto", id=index)
                        =value.join("\n")
                      br
                    else
                      if required.indexOf(index) != -1
                        b!="<sup>*</sup>" + toTitleCase(index) + ": "
                      else
                        b=toTitleCase(index) + ": "
                      br
                      textarea.form-control(rows=1, style="resize:auto", id=index)
                        =value
                      br
              if unused.length > 0
                h4 Empty Fields
                br
                for value, index in data
                  if value == "<no data>"
                    b=toTitleCase(index) + ": "
                    br
                    if short.indexOf(index) != -1
                      textarea.form-control(rows=1, style="resize:auto", id=index)
                    else
                      textarea.form-control(rows=5, style="resize:auto", id=index)
                    br
              a.btn.btn-success#submitedit(role='button')
                span#edit Submit Edits
            //.panel-body
              textarea#editor=JSON.stringify(data)